.burger-card {
  position: relative;
  display: flex;
  align-items: center;
  @include tablets {
    flex-direction: column;
    padding: 0 20%;
    .subtitle {
      font-size: 14px;
    }
  }
  @include phones {
    padding: 0;
  }
  &__left,
  &__right {
    flex: 1;
  }
  &__left {
    padding: 75px 0;
    display: flex;
    justify-content: center;
    @include tablets {
      align-items: center;
      padding: 75px 0 20px 0;
    }
  }
  &__img {
    width: auto !important;
    display: flex !important;
    max-width: 500px !important;
    max-height: 330px !important;
    @include phones {
      max-width: 350px !important;
      max-height: 150px !important;
    }
  }
  &__right {
    margin-left: 20px;
    padding-top: 13px;
    @include tablets {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__composition {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 13px 23px 6px 21px;
    top: 0;
    left: 0;
    height: 90px;
    width: 90px;
    background-color: rgba($orange, 0.4);
    border-radius: 5px;
    cursor: pointer;
    @include tablets {
      left: 100px;
    }
    @include phones {
      left: 0;
    }
    &::before {
      content: "";
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
    }
    &-icon {
      fill: $white;
      width: 46px;
      height: 44px;
      margin-bottom: 3px;
    }
    &:hover {
      background-color: rgba($orange, 1);
      .burger-card__hover {
        height: 347px;
      }
    }
    &-list {
      padding: 18px 22px;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-wrap {
      display: flex;
      align-items: center;
    }
    &-name {
      margin-left: 23px;
    }
    &-weight {
      font-weight: 300;
    }
  }
  &__hover {
    width: 270px;
    height: 0;
    transition: 0.5s ease-in;
    overflow: hidden;
    border-radius: 4px;
    color: $black;
    font-weight: 500;
    background-color: rgba($white, 0.9);
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1;
    @include phones {
      width: 250px;
    }
    .beef {
      fill: #e25028;
      width: 44px;
      height: 39px;
    }
    .buns {
      fill: #f8b43a;
      width: 48px;
      height: 30px;
    }
    .salad {
      fill: #8ac03f;
      width: 38px;
      height: 38px;
    }
    .sauce {
      fill: #e25028;
      width: 41px;
      height: 43px;
    }
    .cucumber {
      fill: #91c349;
      width: 43px;
      height: 37px;
    }
    .cheese {
      fill: #f8b43a;
      width: 39px;
      height: 34px;
    }
  }
  &__kkal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.5;
    @include tablets {
      right: 100px;
      top: 0;
      left: initial;
      bottom: initial;
    }
    @include phones {
      right: 0;
    }
  }
  &__weight {
    padding-top: 16px;
    width: 60px;
    height: 60px;
    background-image: url("../images/icons/kkal.svg");
    @extend %cover;
    @include column(center, center);
    &-count {
      font-size: 20px;
      @include gaga();
    }
  }
  &__title {
    margin-bottom: 43px;
    @include phones {
      margin-bottom: 10px;
      padding: 0 30px;
    }
  }
  &__description {
    margin-bottom: 10px;
    max-width: 441px;
  }
  &__order {
    display: flex;
    align-items: baseline;
  }
  &__price {
    @include gaga();
    font-size: 72px;
    color: $orange;
    line-height: 1;
    letter-spacing: -1.79px;
    @include phones {
      font-size: 45px;
    }
    span {
      font-size: 30px;
      letter-spacing: -0.75px;
      margin-left: 6px;
    }
  }
  &__btn {
    margin-left: 29px;
    position: relative;
    top: -5px;
  }
}
