.feature {
  @include column(center, flex-start);
  @include phones {
    flex-direction: row;
  }
  &__icon {
    margin-bottom: 28px;
    @include phones {
      margin-bottom: 0;
      min-width: 22%;
      display: flex;
      justify-content: center;
    }
    .meat {
      fill: #e45f3b;
      width: 97px;
      height: 89px;
    }
    .hand {
      fill: #f8b53c;
      width: 73px;
      height: 85px;
    }
    .natural {
      fill: #8ac03e;
      width: 88px;
      height: 75px;
    }
  }
  &__title {
    font-size: 24px;
    @include life();
    margin-bottom: 14px;
    letter-spacing: -0.6px;
    line-height: 28.14px;
  }
  &__description {
    color: $black;
    text-align: center;
    @include phones {
      text-align: left;
      margin-left: 25px;
    }
  }
  &__text {
    opacity: 0.8;
    line-height: 24px;
  }
}
