.hero {
  background-image: url("../images/bg/texture.png");
  @extend %cover;
  &__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    @include tablets {
      flex-direction: column;
      padding: 0 8%;
    }
  }
  &__left,
  &__right {
    flex: 1;
  }
  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include tablets {
      margin-bottom: 20px;
    }
  }
  &__right {
    margin-left: 14px;
    padding-top: 87px;
    @include tablets {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-img {
      @include phones {
        max-width: 90%;
      }
    }
    &-drops {
      width: 100%;
      position: absolute;
      left: 0;
      animation: 10s air infinite ease-in-out;
      transition: 1s ease-in;
      @include phones {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
      }
      g:nth-child(even) {
        path {
          fill: $orange;
          animation: 1s fade infinite ease-in;
        }
      }
      g:nth-child(odd) {
        path {
          fill: $yellow;
          animation: 1s fade infinite reverse ease-in;
        }
      }
    }
  }
  &__title {
    margin-bottom: 28px;
    @include phones {
      margin-bottom: 5px;
    }
  }
  &__subtitle {
    @include life();
    letter-spacing: -5.63px;
    line-height: 60px;
    font-size: 72px;
    text-transform: lowercase;
    @include phones {
      font-size: 45px;
      line-height: 45px;
    }
  }
  &__arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    @include phones {
      bottom: 30px;
    }
  }
}

@keyframes air {
  0% {
    top: 8%;
  }
  25% {
    top: 13%;
  }
  50% {
    top: 8%;
  }
  75% {
    top: 13%;
  }
  100% {
    top: 8%;
  }
}

@include phones {
  @keyframes air {
    0% {
      top: 0%;
    }
    25% {
      top: 5%;
    }
    50% {
      top: 0%;
    }
    75% {
      top: 5%;
    }
    100% {
      top: 0%;
    }
  }
}

@keyframes fade {
  0% {
    fill: $orange;
  }
  25% {
    fill: $yellow;
  }
  50% {
    fill: $orange;
  }
  75% {
    fill: $yellow;
  }
  100% {
    fill: $orange;
  }
}
