.menu {
  display: flex;
  justify-content: flex-end;
  background-image: url("../images/bg/menu-bg.jpg");
  &__title {
    position: absolute;
    top: 110px;
    left: 100px;
    @include phones {
      top: 60px;
      left: 10px;
    }
  }
}
