.nav {
  display: flex;
  align-items: center;
  @include tablets {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__item {
    margin-left: 15px;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: flex;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $white;
      margin-right: 15px;
    }
    &:first-child {
      margin-left: 0;
      &::before {
        display: none;
      }
    }
  }
  &__link {
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
  }
  &__close {
    position: absolute;
    top: 31px;
    right: 19px;
    display: none;
    @include tablets {
      display: flex;
    }
  }
}
