.slider {
  position: relative;
  &__list {
    margin-bottom: 40px;
  }
  &__controls {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  &__control {
    position: relative;
    &_prev {
      transform: rotate(90deg);
      left: -45px;
      @include tablets {
        left: 20px;
      }
      @include phones {
        left: 0;
      }
    }
    &_next {
      transform: rotate(-90deg);
      right: -45px;
      @include tablets {
        right: 20px;
      }
      @include phones {
        right: 0;
      }
    }
    &-icon {
      width: 27px;
      height: 13px;
      fill: $white;
    }
  }
  &__dots {
    display: flex;
    justify-content: center;
    background-color: rgba($white, 0.05);
    border-radius: 5px;
    .active {
      img {
        opacity: 1;
      }
    }
    @include phones {
      display: none;
    }
  }
  &__dot {
    display: flex;
    height: 60px;
    width: 60px;
    align-items: center;
    transition: 0.5s ease-in;
    margin-left: 10px;
    img {
      opacity: 0.3;
    }
  }
}
