.socials {
  &__list {
    display: flex;
  }
  &__item {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__link {
    display: flex;
    &:hover {
      svg {
        fill: rgba($white, 1);
      }
    }
  }
  &__icon {
    fill: rgba($white, 0.3);
    width: 20px;
    height: 20px;
  }
}
