.title {
  color: $yellow;
  font-size: 72px;
  line-height: 63.93px;
  @include gaga();
  @include phones {
    font-size: 45px;
    line-height: 45px;
  }
  &_color_white {
    color: $white;
  }
  &_color_black {
    color: $black;
  }
  &_fz_61 {
    font-size: 61px;
    @include phones {
      font-size: 45px;
    }
  }
}
