.user {
  display: flex;
  &__info {
    margin-left: 20px;
    max-width: 215px;
    line-height: 24px;
  }
  &__employment {
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1;
  }
}
