<footer class="footer">
    <div class="container container_between">
        <div class="copyright">
            <div class="copyright__address">
                {{> address}}
            </div>
            <div class="copyright__phone">
                {{> phone}}
            </div>
        </div>
        {{> socials}}
    </div>
</footer>