<header class="header">
    {{>logo}}
    <div class="header__controls">
        {{>nav navigation=navList}}
        <div class="header__button">
            <a href="#7" class="button button_action_scroll button_bg_orange">Заказать</a>
        </div>
    </div>
</header>