<header class="header">
    {{>logo}}
    <div class="header__controls">
        {{>nav navigation=navList}}
        <div class="header__button">
            <button class="button button_bg_orange">Заказать</button>
        </div>
    </div>
</header>