<div class="nav {{modify}}">
    <ul class="nav__list">
        {{#each navigation}}
        <li class="nav__item">
            <a href="{{href}}" class="nav__link">{{text}}</a>
        </li>
        {{/each}}
    </ul>
</div>