<div class="popup popup_reviews" id="popup-reviews">
    <div class="popup__title">
        <span class="subtitle popup__name"></span>
    </div>
    <p class="popup__content"></p>
    <div class="popup__close"></div>
</div>