<div class="review" style="background-image: url('{{photo}}')">
    <div class="review__hover">
        <div class="review__wrap">
            <div class="review__name">
                <h3 class="subtitle">{{name}}</h3>
            </div>
            <p class="review__text">{{text}}</p>
            <div class="review__button">
                <button class="button button_bg_black">Подробнее</button>
            </div>
        </div>
    </div>
</div>