<div class="slider">
    <div class="slider__list owl-carousel">
        {{#each data}}
        {{> burger-card data=this}}
        {{/each}}
    </div>
    <div class="slider__dots">
        {{#each data}}
        <button class="slider__dot" role="button">
            <img src="{{image}}" alt="{{title}}">
        </button>
        {{/each}}
    </div>
</div>