<div class="user">
    <div class="user__photo">
        <img src="{{photo}}" alt="{{name}}" class="user__img">
    </div>
    <div class="user__info">
        <div class="user__employment">{{employment}}</div>
        <p class="user__description">{{description}}</p>
    </div>
</div>