<div class="video">
    <img src="images/Photo.jpg" alt="">
    <div class="video__controls">
        <div class="video__play">
            {{> icon name="play" className="video__play-icon"}}
        </div>
        <div class="video__progress"></div>
        <div class="video__volume">
            <div class="video__volume-control">
                {{> icon name="volume" className="video__volume-icon"}}
            </div>
            <div class="video__volume-progress"></div>
        </div>
    </div>
</div>