body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include base-font(400);
  font-size: $base-size;
  line-height: 24px;
  color: $base-color;
  background-color: $base-bg;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  height: 100%;
}

section {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 650px;
  height: 100vh;
  @extend %cover;
}

.container {
  position: relative;
  width: 95%;
  max-width: $container;
  margin: 0 auto;
  &_between {
    @include between(center);
  }
  &_column {
    @include column(center, flex-start);
  }
  &_height_100 {
    height: 100%;
  }
}
