//devices
$tablets: 768px;
$phones: 480px;
//colors
$orange: #e45028;
$yellow: #f9b43b;
$white: #fff;
$black: #2f3234;
$black-hover: #1f2122;
$orange-hover: #c1401e;
//base
$container: 940px;
$base-font: "Ubuntu", sans-serif;
$base-size: 14px;
$base-color: $white;
$base-bg: $black;
